@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
body {
  font-family: Nunito;
  -webkit-font-smoothing: antialiased;
  background-color: #191919;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media (min-width: 320px) and (max-width: 420px) {
  .canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-left: 5vw;
    padding-left: 8vw;
    padding-right: 4vw;
    height: 80vh;
    width: 104vw;
    border-radius: 20px;
  }

  .canvas-container canvas {
    width: 120%;
    height: 25%;
    border: red;
  }
}
@media (min-width: 425px) and (max-width: 634px) {
  .canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    padding-left: 4vw;
    padding-right: 4vw;
    margin-left: 5vw;

    height: 80vh;
    width: 110vw;
    border-radius: 20px;
  }

  .canvas-container canvas {
    margin: 0;
    padding: 0;
    width: 120%;
    height: 25%;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 35vw;
    margin-left: 5vw;

    margin-top: 2vh;
    height: 55vh;
    width: 60vw;
    border-radius: 20px;
  }
  .canvas-container canvas {
    height: 255%;
    width: 120vw;
  }
}
@media (min-width: 1023px) and (max-width: 1365px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5vw;
    margin-top: 2vh;
    margin-left: 5vw;
    height: 75vh;
    width: 80vw;
    border-radius: 30px;
  }

  .canvas-container canvas {
    height: 255%;
    border-radius: 20px;
    width: 120vw;
  }
}

@media (min-width: 1440px) and (max-width: 1440px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }
  .canvas-container {
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    height: 50vh;
    width: 80vw;
    border-radius: 40px;
  }

  .canvas-container canvas {
    height: 255%;
    width: 120vw;
  }
}
@media (min-width: 1440px) and (max-width: 2560px) {
  .container {
    padding-left: 130px;
    padding-right: 100px;
  }
  .laptops {
    padding-left: 10vw;
  }
  .responsive {
    padding-left: 40vw;
  }
  .canvas-container {
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5vw;
    height: 50vh;
    width: 80vw;
    border-radius: 40px;
  }
  .canvas-container canvas {
    height: 255%;
    width: 120vw;
  }
}
@media (min-width: 1440px) and (max-width: 1640px) {
  .container {
    padding-left: 130px;
    padding-right: 100px;
  }
  .laptops {
    padding-left: 10vw;
  }
  .responsive {
    padding-left: 40vw;
  }
}
@media (min-width: 1650px) and (max-width: 2560px) {
  .container {
    padding-left: 200px;
    padding-right: 110px;
  }
  .laptops {
    padding-left: 10vw;
  }
  .responsive {
    padding-left: 60vw;
  }
  .canvas-container {
    margin-top: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 3vw; */
    height: 50vh;
    width: 80vw;
    border-radius: 40px;
  }
}

@media (min-width: 1426px) and (max-width: 2560px) {
  .container {
    justify-content: center;
    align-items: center;
    padding-left: 250px;
    padding-right: 110px;
  }
  .canvas-container {
    margin-top: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 3vw; */
    height: 50vh;
    width: 80vw;
    border-radius: 40px;
  }
}
